<h3 mat-dialog-title>Enter time</h3>
<div mat-dialog-content class="datetime-wrapper">
    <div class="datetime-input">
        <app-input-number *ngIf="isTime" [value]="hours" [min]="0" [max]="23" [cycle]="true" (changeValueEvent)="changeHours($event)" ></app-input-number>
        <app-input-number *ngIf="!isTime" [value]="hours" [min]="0" [cycle]="true" (changeValueEvent)="changeHours($event)" ></app-input-number>
    </div>
    <span class="datetime-divider">:</span>
    <div class="datetime-input">
        <app-input-number [value]="minutes" [min]="0" [max]="59" [cycle]="true" (changeValueEvent)="changeMinutes($event)" ></app-input-number>
    </div>
</div>
<div mat-dialog-actions class="buttons">
    <button mat-button [mat-dialog-close]="time" cdkFocusInitial>OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
</div>