<mat-card>
    <nav>
        <ul class="navbar-left-menu">
            <li class="logo">
                <a routerLink=""><img src="../../../assets/logo.png"></a>
            </li>
            <li><a routerLink="" [ngClass]="{'activeRoute': '' == currentRoute}">Home</a></li>
            <li><a routerLink="/contests" [ngClass]="{'activeRoute': 'contests' == currentRoute}">Contests</a></li>
            <li><a routerLink="/leaderboard" [ngClass]="{'activeRoute': 'leaderboard' == currentRoute}">Leaderboard</a></li>
        </ul>
        <ul class="navbar-right-menu">
            <li class="item-with-icon" (click)="changeTheme()"><mat-icon>brightness_medium</mat-icon></li>
            <li class="item-with-icon"><mat-icon aria-hidden="false">notifications</mat-icon></li>
            <li class="item-with-icon" *ngIf="isAuthenticated" [matMenuTriggerFor]="menu">
                <div *ngIf="!userInfo?.avatar" class="navigation-profile-wrapper">
                    <mat-icon>account_circle</mat-icon><span class="username">{{userInfo?.username}}</span>
                </div>
                <div *ngIf="userInfo?.avatar" class="navigation-profile-wrapper">
                   <div class="navigation-profile-avatar-img"><img [src]="userInfo?.avatar"></div><span class="username">{{userInfo?.username}}</span>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openUserProfile()">
                      <mat-icon>perm_identity</mat-icon>
                      <span>Profile</span>
                    </button>
                    <button mat-menu-item (click)="logout()">
                      <mat-icon>exit_to_app</mat-icon>
                      <span>Logout</span>
                    </button>
                 </mat-menu>
            </li>
            <li *ngIf="!isAuthenticated"><button mat-raised-button (click)="login()">Log in</button></li>
            <li *ngIf="!isAuthenticated"><button mat-raised-button color="primary" (click)="signUp()">Sign up</button></li>
        </ul>
    </nav>
</mat-card>
