mat-card {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 8em;
}
ul {
    max-width: 45%;
    min-width: 30%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
li {
    /* margin-right: 40px; */
    font-weight: 500;
    vertical-align: middle;
    cursor: pointer;
}
.item-with-icon {
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
a {
    cursor: pointer;
    transition: .1s;
    border-bottom: 0px;
}
.activeRoute{
    border-bottom: 3px solid #F00500;
}
.username {
    margin-left: 8px;
}