mat-card {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
}
nav {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1em 8em;
}
.navbar-left-menu {
    /* max-width: 60%; */
    width: 30%;
}
.navbar-left-menu li, .navbar-right-menu li {
    margin-right: 1em;
}
ul:last-child {
    margin-right: 0em;
}
.navbar-right-menu {
    min-width: 20%;
    max-width: 35%;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
li {
    /* margin-right: 40px; */
    font-weight: 500;
    vertical-align: middle;
    cursor: pointer;
}
.item-with-icon {
    display: flex;
    align-items: center;
}
.logo img{
    width: 50px;
}
a {
    cursor: pointer;
    transition: .1s;
    border-bottom: 0px;
}
.activeRoute{
    border-bottom: 3px solid #F00500;
}
.username {
    margin-left: 8px;
}
.navigation-profile-wrapper {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: fit-content;
}
.navigation-profile-avatar-img {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-profile-avatar-img img {
    width: 100%;
    border-radius: 50%;
}