<div class="container">
    <mat-card class="form">
        <form *ngIf="showLoginPage" [formGroup]="loginForm">
            <img class="logo" src="../../../assets/logo.png">

            <mat-form-field appearance="fill" class="input">
                <mat-label>Email</mat-label>
                <input type="text" formControlName="email" matInput required/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button class="button" (click)="login()" mat-raised-button color="primary" [disabled]="!isLoginFormValid()">Login</button>

            <div class="links">
                <a (click)="showLoginPage = !showLoginPage">Sign up</a>
                <a>Forgot password?</a>
            </div>

            <div class="divider-line">
                <mat-divider></mat-divider>
                <span>OR</span>
                <mat-divider></mat-divider>
            </div>

            <button (click)="loginByGoogleAccount()" class="button service-registration-btn" mat-raised-button>
                <img src="../../../assets/google_logo.png"> Sign in with Google
            </button>
        </form>

        <form *ngIf="!showLoginPage" [formGroup]="registrationForm">
            <img class="logo" src="../../../assets/logo.png">

            <mat-form-field appearance="fill" class="input">
                <mat-label>Name</mat-label>
                <input type="text" formControlName="name" matInput/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input">
                <mat-label>Username</mat-label>
                <input type="text" formControlName="username" matInput required/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input">
                <mat-label>Email</mat-label>
                <input type="text" formControlName="email" matInput required/>
            </mat-form-field>

            <mat-form-field appearance="fill" class="input">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'" required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                  <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button class="button" mat-raised-button color="primary" (click)="register()" [disabled]="!isRegistrationFormValid()">Register</button>

            <div class="signIn">
                <span>Have an account? <a (click)="showLoginPage = !showLoginPage">Sign in</a></span>
            </div>

            <div class="divider-line">
                <mat-divider></mat-divider>
                <span>OR</span>
                <mat-divider></mat-divider>
            </div>

            <button (click)="registerByGoogleAccount()" class="button service-registration-btn" mat-raised-button>
                <img src="../../../assets/google_logo.png"> Continue with Google
            </button>
        </form>
    </mat-card>
</div>