.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .form {
        height: 80%;
        min-width: 20%;
        max-width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: none;
        padding: min(4em, 20%);
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo {
                margin-bottom: 1.34375em;
                width: 9.375em;
            }

            .input{
                width: 100%;   /* background-color: #EDF1F7; */
            }

            .button {
                box-shadow: none !important;
                width: 100%;
                height: 2.75em;
                font-size: 1.3em;
            }
            
            .service-registration-btn {
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) !important;
                margin-top: 1.34375em;
                margin-bottom: 1em;
                img {
                    max-width: 70%;
                    max-height: 70%;
                }
            }

            .continue-as-guest-btn {
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25) !important;
                display: flex;
                // flex-direction: column;
                align-items: center;
                justify-content: center;
                mat-icon {
                    margin-right: 0.5em;
                }
            }

            .links {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin: 1.34375em 0em;
                a {
                    cursor: pointer;
                }
            }
            
            .signIn {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 1.34375em 0em;
                a {
                    cursor: pointer;
                }
            }

            .divider-line {
                width: 100%;
                display: flex;
                align-items: center;
                box-sizing: border-box;
                span {
                    padding: 0 15px;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 18px;
                }
                mat-divider {
                    position: relative !important;
                }
            }
        }
    }
}

::ng-deep {
    .mat-focused .mat-form-field-label {
        /*change color of label*/
        // color: black !important;
        display: none;
    }
    .mat-form-field-underline {
        /*change color of underline*/
        display: none;
    } 
    .mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: transparent !important;;
    }
}

.container-tmp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.line-tmp {
    flex: auto;
}

.text-tmp {
    padding-left: 10px;
    padding-right: 10px;
}