<div class="notification-wrapper">
    <div class="notification-bar" [ngClass]="appereanceClass"></div>
    <div class="notification-message">
        <fa-icon class="notification-icon" [icon]="icon" [ngClass]="appereanceClass + '-icon'"></fa-icon>
        <span> {{data.message}}</span>
    </div>
    <div class="notification-button">
        <!-- <button mat-stroked-button (click)="snackBarRef.dismiss()">{{data.action}}</button> -->
        <button (click)="snackBarRef.dismiss()"><mat-icon>cancel</mat-icon></button>
    </div>
</div>