@import '../../../custom-theme.scss';

.notification-wrapper {
    // color: white;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    // align-items: center;
}

.notification-button, .notification-message {
    margin-top: 1em;
    margin-bottom: 1em;
}

.notification-message {
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 80%;
}

.notification-icon {
    font-size: 20px;
    margin: 0em 0.5em 0 0.5em;
}
.notification-button {
    cursor: pointer;
    width: 10%;
    padding: 0;
    display: flex;
    align-items: center;
}
.notification-button button{
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
}

.notification-bar {
    margin: 0;
    width: 2%;
}

.error {
    background-color: $notification-error;
}
.error-icon {
    color: $notification-error;
}

.success {
    background-color: $notification-success;
}
.success-icon {
    color: $notification-success;
}

.warn {
    background-color: $notification-warning;
}
.warn-icon {
    color: $notification-warning;
}

.info {
    background-color: $notification-info;
}
.info-icon {
    color: $notification-info;
}