<div class="settings-password">
    <h3>Change password</h3>
    <mat-divider></mat-divider>
    <form [formGroup]="form">
        <mat-form-field appearance="fill" class="settings-password-input">
            <mat-label>Old password</mat-label>
            <input matInput formControlName="oldPassword" [type]="hideOldPassword ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hideOldPassword = !hideOldPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideOldPassword">
              <mat-icon>{{hideOldPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="settings-password-input">
            <mat-label>New password</mat-label>
            <input matInput formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hideNewPassword = !hideNewPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideNewPassword">
              <mat-icon>{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!isAllFieldsAreValid" (click)="changePassword()">Update password</button>
    </form>
</div>