.settings-password {
    width: 100%;
}
.settings-password h3 {
    margin: 0;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.settings-password form {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.settings-password-input {
    min-width: 15em
}