<div class="contest-problem-wrapper">
    <h1>{{currentProblem?.index}} {{currentProblem?.name}}</h1>
    <p>{{currentProblem?.description}}</p>
    <h2>Sample input</h2>
    <pre>{{currentProblem?.inputExample}}</pre>
    <h2>Sample output</h2>
    <pre>{{currentProblem?.outputExample}}</pre>
    <div>
        <input #fileInput class="custom-file-input" type="file" [accept]=fileType (change)="processFile(fileInput)"
            [disabled]="disabled" [ngClass]="{'disabled': disabled}" mat-raised-button color="primary">
        <button mat-raised-button color="primary">Абл идет нахуй</button>
    </div>
</div>