<mat-card>
    <div class="user-wrapper">
        <div class="user-avtar" click="uploadAvatar()">
            <label for="user-uploadAvatar">
                <mat-icon *ngIf="!user?.avatar">account_circle</mat-icon>
            </label>
            <label for="user-uploadAvatar" class="user-avatar-picture" *ngIf="user?.avatar">
                <img [src]="filePath">
            </label>
            <input #fileInput id="user-uploadAvatar" type="file" 
                [accept]=fileType (change)="processFile(fileInput)">
        </div>
        <div class="user-info">
            <h1>{{user?.name}}</h1><br>
            <h2>{{user?.username}}</h2><br>
            <h3>{{user?.email}}</h3><br>
        </div>
    </div>
</mat-card>